
{% extends 'base.html' %}

{% block content %}
<!-- Create Room Section -->

<div class="header">
    <h1>Create a Room</h1>
    <p>Enter your name and create a Room Name.</p>
</div>
<div class="container">
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
    
    <form method="POST" action="{{ url_for('create_room_page') }}">
        <div class="form-group">
            <label for="name" class="form-label">Name:</label>
            <input type="text" id="name" class="form-input" placeholder="ex. John Albert" name="name" value="{{name}}"/>
        </div>

<div class="form-group create">
    <label for="create-room" class="form-label">Create a New Room:</label>
        <input type="text" id="create-room" class="form-input" placeholder="ex. Computer Networks" name="create-room" />
    </di>

    <!-- Submit Buttons -->
    <div class="button-group">
    <button type="submit" class="btn-primary" name="create" value="create">Generate Room</button>
    </div>

</form>
</div>
{% endblock %}