{% extends 'base.html' %}

{% block content %}
<div class="fixed-header">
    <h1>Welcome to SafeText</h1>
    <p>A secure way to chat</p>
</div>

<div class="container">
    <form method="post" class="chat-room-form">
        <h3 class="form-title">SafeText</h3>
        
        <!-- Name Input Section -->
        <div class="form-group">
            <label for="name" class="form-label">Name:</label>
            <input type="text" id="name" class="form-input" placeholder="ex. John Albert" name="name" value="{{name}}"/>
        </div>
        
        <!-- Room Code Section -->
        <div class="form-group join">
            <label for="code" class="form-label">Room Code:</label>
            <input type="text" id="code" class="form-input" placeholder="ex. 589819198" name="code" value="{{code}}"/>
        </div>
        
        <!-- Create Room Section -->
        <div class="form-group create">
            <label for="create-room" class="form-label">Create a New Room:</label>
            <input type="text" id="create-room" class="form-input" placeholder="ex. Computer Networks" name="create-room" />
        </div>
        
        <!-- Submit Buttons -->
        <div class="button-group">
            <button type="submit" class="btn">Join Room</button>
            <button type="submit" class="btn" name="create" value="create">Create Room</button>
        </div>
        {% if error %}
        <ul>
            <li>{{error}}</li>
        </ul>
        {% endif %}

    </form>
</div>
{% endblock %}
